    <h3 style="position:relative; left:300px; top:-300px; color: rgba(151,187,250,1)">Total Commits By Week</h3>
    <canvas id="contributorChart" width="500" height="500" style="position:relative; left:200px; top: -300px"></canvas>
    <script type="text/javascript">
        var ctx = $("#contributorChart").get(0).getContext("2d");
        var weeks = @Html.Raw(Json.Encode(ViewData["weekArray"]));
        var contributorCount = @Json.Encode(ViewData["commitArray"]);
        var data = {
            labels: weeks,
            datasets: [
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    data: contributorCount
                }
            ]
        };
        var myNewChart = new Chart(ctx).Line(data);
    </script>

