@{
    ViewBag.Title = "Home Page";
}

@model Samples_Activity.Models.RepoList

<div class="jumbotron">
    <h2>Azure AD Samples Activity Summary</h2>
    <p>Use Repo Names to Drill Down</p>
</div>



<div class="CSSTableGenerator">
    <table>
        <tr>
            <td>Owning Organization</td>
            <td>Repo Name</td>
            <td>Number of Contributors</td>
        </tr>
        @foreach (Samples_Activity.Models.RepoList.repo repo in Model.repos)
        {   <tr>
                <td>@repo._repo.Owner.Login</td>
                <td>@repo._repo.Name</td>
                <td>@repo._contributorCount</td>
            </tr>
        }
    </table>
</div>