@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h2>Azure AD Samples Activity Summary</h2>
    @Html.ActionLink("Run Data Refresh Job", "Refresh")
</div>


@Html.Partial("_repoActivityChart", ViewData)
@Html.Partial("_repoForksAndWatchers", ViewData)
@Html.Partial("_contributorChart", ViewData)


@*<div class="CSSTableGenerator">
    <table>
        <tr>
            <td>Owning Organization</td>
            <td>Repo Name</td>
            <td>Number of Contributors</td>
        </tr>
        @foreach (Samples_Activity.Models.Repo repo in Model)
        {   <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
        }
    </table>
</div>*@

