@{
    ViewBag.Title = "Home Page";
}

@model List<Samples_Activity.Models.Repo>

<div class="jumbotron">
    <h2>Azure AD Samples Activity Summary</h2>
    <p>Use Repo Names to Drill Down</p>
</div>



<div class="CSSTableGenerator">
    <table>
        <tr>
            <td>Owning Organization</td>
            <td>Repo Name</td>
            <td>Number of Contributors</td>
        </tr>
        @foreach (Samples_Activity.Models.Repo repo in Model)
        {   <tr>
                <td>@repo.Owner.Login</td>
                <td>@repo.Name</td>
                <td>@repo.contributors.Count</td>
            </tr>
        }
        @*<tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>*@
    </table>
</div>