@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h2>AAD Samples Github Activity</h2>
    @{
        if (ViewBag.Origin == null)
        {
            @Html.ActionLink("Run Data Refresh Job", "Refresh", null, new { @class = "refresh-link" });
        }
        else if (ViewBag.Origin == "Refresh") {
            <p>Data Refresh Job Running. ~15 min to completion.</p>
        }
    }

</div>




@Html.Partial("_repoActivityChart", ViewData)
@Html.Partial("_repoForksAndWatchers", ViewData)
@Html.Partial("_contributorChart", ViewData)



<script>
    $(".refresh-link").click(function() {
        $( this ).replaceWith("<p>Data Refresh Job Running. ~15 min to completion.</p>");
    });
</script>