@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h2>Azure AD Samples Activity Summary</h2>
    <p>Use Repo Names to Drill Down</p>
</div>



@*<div class="CSSTableGenerator">
    <table>
        <tr>
            <td>Owning Organization</td>
            <td>Repo Name</td>
            <td>Number of Contributors</td>
        </tr>
        @foreach (Samples_Activity.Models.Repo repo in Model)
        {   <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
        }
    </table>
</div>*@

<script>alert(@Model.weekArray[0])</script>

@*<div class="ChartRegion">
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
        var ctx = $("#myChart").get(0).getContext("2d");

        var data = {
            labels: [],
            datasets: [
                {
                    fillColor: "";
                    strokeColor: "",
                    pointColor: "",
                    pointStrokeColor: "",
                    data: []
                },
                {
                    fillColor: "";
                    strokeColor: "",
                    pointColor: "",
                    pointStrokeColor: "",
                    data: []
                }
            ]
        };

        var options = {};


        var myNewChart = new Chart(ctx).Line(data, options);
    </script>
</div>*@